@charset "UTF-8";

body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: 0 auto;

}

h1 {
    color: #555;
}

img {
    max-width: 700px;
    border: 6px solid;
    border-style: solid;

}

figure {
    text-align: center;
    margin: 2.5em;

}

article {
    max-width: 800px;
}

.ingress {
    font-weight: bold;
    font-size: 1.2em;
}

.sidohuvud {
    color: chocolate;
    text-align: center;
}

#sidohuvudbild {
    background-image: url(/img/sidohuvudbild.jpg);
    width: 1200px;
    height: 250px;
    background-size: cover;
    background-position: center;

}



.faktaruta {
    border: 4px solid;
    padding: 30px;
    margin: 2em;
    background-color: chocolate;

}

footer {
    text-align: center;
    background-color: moccasin;
    padding: 1em;

}