@charset "UTF-8";

body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: 0 auto;


}

h1 {
    color: #555;
}

img {
    max-width: 350px;
    border: 6px solid;
    border-style: solid;



}

figure {
    height: auto;
    margin: 2.5em;
    float: right;


}

article {
    max-width: 800px;
    padding: 100px;
}

.ingress {
    font-weight: bold;
    font-size: 1.2em;
}

.sidohuvud {
    color: chocolate;
    text-align: center;
}

#sidohuvudbild {
    background-image: url(/img/sidohuvudbild.jpg);
    width: 1200px;
    height: 250px;
    background-size: cover;
    background-position: center;

}

main {
    background-color: #e8f1f8;
}


.faktaruta {
    border: 4px solid;
    padding: 30px;
    margin: 2em;
    background-color: chocolate;


}

footer {
    text-align: center;
    background-color: #2f5d8a;
    color: whitesmoke;
    padding: 1em;
    font-size: 0.8em;

}