@charset "UTF-8";

html, body{
    background-color: whitesmoke;
height: 100%;
align-items: center;
justify-content: center;
font-family: Arial, Helvetica, sans-serif;
text-align: center;

}
h1 {
    color: #555;
}
img {
    max-width: 1200px;
    border: solid;
    border-style: solid;
    
}

footer{
    text-align: center;
    background-color: moccasin;
    padding: 1em;
}